<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - P4_Vacation_photos</title>
  <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
  <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>

<body>
  <nav class="">
    <aside class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li>
            <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

              <svg fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                enable-background="new 0 0 122.88 112.07" viewBox="0 0 122.88 112.07"
                xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="m61.44 0-61.44 60.18 14.99 7.87 46.05-48.35 46.85 48.36 14.99-7.87zm-43.18 69.63 43.24-43.25 43.11 43.25v42.43h-31.49v-29.97h-23.63v29.97h-31.23z"
                  fill-rule="evenodd" />
              </svg>

              <span class="ml-3">Home</span>
            </a>
          </li>
          <li>
            <a asp-page="/profile/Profile" asp-route-Username="@User.Identity.Name"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                </path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Trips</span>
              @* <span
                class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"></span>
              *@
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg viewBox="0 0 20 20"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                <path d="M14.5 14.5l-4-4m-4 2a6 6 0 110-12 6 6 0 010 12z" stroke="currentColor"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Search users</span>

            </a>
          </li>
          <li>
            @if (!User.Identity.IsAuthenticated)
            {
            <a asp-page="/auth/Login"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true" viewBox="0 0 20 20"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="M10.5 3.498a2.999 2.999 0 01-3 2.998 2.999 2.999 0 113-2.998zm2 10.992h-10v-1.996a3 3 0 013-3h4a3 3 0 013 3v1.997z"
                  stroke="currentColor" stroke-linecap="square"></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Sign in</span>
            </a>
            }
            else
            {
            <a asp-page="/auth/Logout"
              class="flex justify-center items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">

              <svg viewBox="0 0 20 20"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                <path d="M13.5 7.5l-3 3.25m3-3.25l-3-3m3 3H4m4 6H1.5v-12H8" stroke="currentColor"></path>
              </svg>

              <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
            </a>
            }
          </li>
        </ul>
      </div>
    </aside>
  </nav>
  <div class="sm:ml-64">
    <main role="main ">@RenderBody()</main>
  </div>



  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>