@page "{Username}"
@model ProfileModel
@{ ViewData["Title"] = "Profiel van " +
Model._User.username; }

<script src="~/js/profile/loadVacations.js" defer></script>
@if (Model._User.id.ToString() == User.Identity.Name) {
<script src="~/js/profile/editProfile.js" defer></script>
}
<section class="flex gap-2 w-full m-2">
    <div>
        <img class="rounded-full object-cover w-32 h-32"
            src="https://www.howtogeek.com/wp-content/uploads/2021/07/Discord-Logo-Lede.png?height=200p&trim=2,2,2,2"
            alt="Profile image" />
    </div>
    <div class="relative flex-grow">
        <h1 class="text-2xl font-bold editable" data-column="username" data-element="input" data-type="text">
            @Model._User.username</h1>
        <p class="text-gray-500 flex">
            <span class="editable" data-column="description"
                data-element="textarea">@Model._User.description</span><span>&nbsp; -
                Joined on:
                @Model._User.createdAt.ToLocalTime().ToString("MM/dd/yyyy")</span>
        </p>
        @if (Model._User.id.ToString() == User.Identity.Name) {
        <div id="editProfile" class="absolute gap-1 flex flex-row bottom-0 right-3">
            <button class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit
                profile</button>
        </div>

        }
    </div>
</section>
<hr />
<section id="vacations" class="m-1">
    <h1 class="text-2xl font-bold">Vacations</h1>
    <div class="flex gap-1 justify-center flex-wrap">
        @for(var i = 0; i < Model._HowManyVacations; i++) { <div class="max-w-[100vw] w-96 h-60">
            <div role="loading"
                class="space-y-8 relative animate-pulse md:space-y-0  md:space-x-8 md:flex md:items-center">
                <div
                    class="flex absolute items-center justify-center w-full h-full bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
                    <div class="w-1/3 h-1/3">
                        <svg aria-hidden="true"
                            class="w-full h-full mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
    </div>
    }

    @if (Model._User.id.ToString() == User.Identity.Name) {
    <div class="ignore w-96 max-w-[100vw] h-60 bg-gradient-to-tr from-green-400 to-blue-500">
        <div class="flex flex-col group hover:bg-slate-600/30 transition-all h-full w-full justify-center items-center">
            <span class="text-white text-6xl">+</span>
            <p class="text-center content-end text-white group-hover:opacity-100 opacity-0 transition-all">
                Add vacation!
            </p>
        </div>
    </div>
    }
    </div>
</section>