@page "/profile/{user}/vacations/{vacationId:int}"
@model VacationsModel
@{
    ViewData["Title"] = "Vakanties van " + Model.User;
}

<div class="text-center">
    <h1 class="display-4">pap</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

